nav a {
  color: var(--text-black);
}

nav a:visited {
  color: var(--kettensage-green);
}

header .logo {
  filter: invert(1);
}

main {
  max-width: 1500px;
  padding: var(--gap-l) var(--gap-xl);
  color: var(--text-black);
  margin: auto;
}

main h1 {
  font-size: var(--fs-xxl);
  letter-spacing: 0.05rem;
  text-align: center;
}

.contact-row {
  display: flex;
  gap: var(--gap-giant);
  align-items: center;
  margin: var(--gap-giant) 0;
  flex-direction: column;
  justify-content: space-between;
}

.contact-row > div {
  flex: 1;
}

.map {
  width: 100%;
  min-height: 500px;
}

main li > span {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-m);
}

main li a {
  color: var(--text-black);
}

main li a:visited {
  color: #494949;
}

main li {
  margin: var(--gap-m) 0;
}

main li > * {
  vertical-align: middle;
}

.contact-form {
  max-width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

form > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

textarea {
  font-family: inherit;
}

input,
textarea {
  padding: 1rem 1.5rem;
  background-color: var(--text-white);
  border: none;
  border-radius: 0.25rem;
  resize: none;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  display: inline-block;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  font-weight: 600;
  border: 0.2rem solid var(--text-white);
  background-color: var(--text-white);
  color: var(--text-black);
}

@media only screen and (min-width: 900px) {
  .contact-row {
    flex-direction: row;
  }
  main {
    padding: var(--gap-l) var(--gap-xxl);
  }
}
