@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --gap-s: 0.5rem;
  --gap-m: 1rem;
  --gap-l: 1.5rem;
  --gap-xl: 2rem;
  --gap-xxl: 3rem;

  /* fonst sizes */
  --fs-xs: 0.75rem;
  --fs-s: 0.85rem;
  --fs-base: 1rem;
  --fs-l: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-giant: 4rem;
  --fs-jumbo: 5rem;

  /* bikes colors */
  --colnago-red: #700a1a;
  --basso-gray: #bbbfca;
  --trek-black: #210203;

  /* colors */
  --text-white: #ededed;
  --text-black: #0f0f0f;
  --dark-white: #e0e0e0;
}

@font-face {
  font-family: "portico-outline";
  src: url(/assets/fonts/Portico-Outline.otf);
}

body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.bike-overlay {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.25;
}

.bike-wrapper-width {
  position: relative;
}

.bike-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
  color: var(--text-white);
  scroll-snap-align: start;
  max-width: 1500px;
  margin: 0 auto;
}

.bike-image {
  width: 175%;
  object-fit: contain;
  position: absolute;
  left: -75%;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 0.25s ease-in-out;
}

.bike-image:hover {
  transform: translate(0%, -50%) scale(1.025);
}

.bike-image-wrapper {
  position: relative;
  height: 100%;
  align-self: flex-start;
  max-width: 800px;
}

.bike-image-wrapper,
.bike-content {
  flex: 1;
}

.bike-content {
  padding: 0 var(--gap-xl);
  z-index: 1;
}

.bike-wrapper h2 {
  font-family: "Poppins", sans-serif;
  font-family: "portico-outline", sans-serif;
  font-size: var(--fs-jumbo);
  margin: 0;
}

.bike-wrapper h3 {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-s);
  font-weight: 100;
  margin: 0;
  opacity: 0.75;
}

.bike-wrapper p {
  font-size: var(--fs-base);
  opacity: 0.9;
  line-height: 1.75rem;
  margin-top: var(--gap-xxl);
  text-align: justify;
}

.colnago {
  background-color: var(--colnago-red);
}

.basso {
  background-color: var(--basso-gray);
}

.trek {
  background-color: var(--trek-black);
}

.cta {
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  display: inline-block;
  text-decoration: none;
  color: var(--text-white);
  transition: all 300ms ease-in-out;
}

.cta:visited {
  color: var(--dark-white);
}

.cta-secondary {
  border: 0.2rem solid var(--text-white);
}

.cta-secondary:visited {
  border: 0.2rem solid var(--dark-white);
}

.cta-secondary:hover {
  background-color: var(--text-white);
  color: var(--text-black);
}

.cta-bike-wrapper {
  padding: var(--gap-m) 0;
}
